@import '../../variables.scss';

.navigation {
    display: flex;
    flex-direction: row;
    height: auto;
    color: white;
    background: black;
    width: 100%;
    z-index: 100;
    //transition: padding 250ms ease, margin 250ms ease, width 250ms ease-in-out;
    &.frontpage {
        padding: 2rem;
        box-sizing: border-box;
        background: none;
        @media only screen and (max-width: $screen-xs) {
            padding: 1rem;
        }
    }
    a {
        color: white;
        text-decoration: none;
    }
    &:before {
        opacity: 0;
    }
    &Sticky {
        position: fixed;
        top: 0;
    }
    &End {
        justify-content: end;
        right: 0;
    }
    &NavItem {
        margin: 0 0.5rem;
        padding: 0.4rem 0.4rem;
        font-size: 1.5rem;
        opacity: 0.70;
        border-bottom: 2px solid transparent; 
        transition: opacity 300ms, border-bottom 300ms;
        @media only screen and (max-width: $screen-xs) {
            opacity: 1;
        }
        &:hover {
            border-bottom: 2px solid white;
            opacity: 1;
        }
    }
    &Brand {
        display: flex;
        flex-direction: row;
        align-items: center;
        opacity: 0.70;
        transition: opacity 300ms;
        @media only screen and (max-width: $screen-xs) {
            opacity: 1;
        }
        &:hover {
            opacity: 1;
        }
        h1 {
            margin: 0;
            font-size: 1.5rem;
            padding: 0 1rem;
        }
        img {
            width: 3rem;
            height: 3rem;
        }
    }
}

.active {
    border-bottom: 2px solid white;
    opacity: 1;
}

.space {
    justify-content: space-between;
}

.menu {
    background: none;
    border: none;
    img {
        width: 32px;
        height: 32px;
    }
}

.menuContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    background: $color-logo-red-dark; 
}