@import '../../variables.scss';

.jumbotron {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    &Content {
        position: absolute;
        padding: 0 5rem;
        top: 35%;
        right: 0;
        text-align: end;
        z-index: 5;
        @media only screen and (max-width: $screen-xs) {
            top: 45%;
            padding: 0 1rem;
        }
        h1 {
            font-size: 7rem;
            margin: 0;
            @media only screen and (max-width: $screen-xs) {
                font-size: 4rem;
            }
        }
        h2 {
            margin: 0;
            font-size: 3rem;
            @media only screen and (max-width: $screen-xs) {
                font-size: 2.5rem;
            }
        }
    }
    video, img {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover; 
        filter: brightness(30%);
    }
}
