@import '../../variables.scss';

.jumbotron {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    &Content {
        position: absolute;
        padding: 0 5rem;
        top: 35%;
        right: 0;
        text-align: end;
        z-index: 5;
        h1 {
            font-family: $primary-font;
            font-size: 7rem;
            margin: 0;
        }
        h2 {
            font-family: $secondary-font;
            margin: 0;
            font-size: 3rem;
        }
    }
    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover; 
        filter: brightness(40%);
    }
}
