@import '../../variables.scss';

.container {
    height: 100%; 
    width: 100%;
}

.disclaimer {
    position: fixed;
    display: flex;
    right: calc(50% - 20rem);
    padding: 1rem;
    margin-bottom: 1rem;
    max-width: 40rem;
    height: auto;
    bottom: 0;
    animation: fadein 1s;
    box-shadow: 0.1rem 0.1rem 0.7rem black;
    background-color: rgb(25, 25, 25);
    p {
        color: white;
        margin: 0;
        font-size: 1rem;
    }
}

@keyframes fadein {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}