
$primary-font: 'BigJohn', sans-serif;
$secondary-font: 'SlimJoe', sans-serif;

$color-logo-orange: #F58646; 
$color-logo-orange-dark: #FCAF1A;
$color-logo-red: #F05350;
$color-logo-red-dark: #A11C38;

$screen-xxs: 600px;
$screen-xs: 768px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;